name: Deploy PR previews

on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - closed

concurrency: preview-${{ github.ref }}

jobs:
  deploy-preview:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
      contents: write
      issues: write
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Install node
        if: github.event.action != 'closed'
        uses: actions/setup-node@v6
        with:
          node-version: "20"

      - name: Install pnpm
        if: github.event.action != 'closed'
        run: npm install -g pnpm

      - name: Label the PR
        if: github.event.action != 'closed'
        uses: actions/labeler@v5

      - name: Install dependencies
        if: github.event.action != 'closed'
        run: pnpm install

      - name: Lint
        if: github.event.action != 'closed'
        run: pnpm lint

      - name: Generate static files
        if: github.event.action != 'closed'
        run: pnpm build

      - name: Deploy preview
        uses: rossjrw/pr-preview-action@v1
        with:
          preview-branch: html-previews
          source-dir: dist
          pages-base-url: beta-draw.not-th.re

  dependabot:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
    if: ${{ github.actor == 'dependabot[bot]' }}
    env:
      PR_URL: ${{github.event.pull_request.html_url}}
      GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
    steps:
      - name: Auto Approve
        run: gh pr review --approve "$PR_URL"
